#!/usr/bin/make -f

%:
	dh $@ --parallel --dbg-package=muon-dbg --with kde --with python3
	
override_dh_makeshlibs:
	dh_makeshlibs -Xusr/lib/kde4/ -V 'libmuonprivate2 (=2.2.65-1)'

override_dh_install:
	dh_install --fail-missing

override_dh_auto_test:
	./debian/testScript.sh && exit $?

.PHONY: override_dh_install
